@font-face {
  font-family: "Open Sauce";
  src: url("/assets/fonts/opensauce-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sauce";
  src: url("/assets/fonts/opensauce-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
